<?xml version="1.0" encoding="utf-8"?>
<aspNetCoreRendererConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.0.8222.0">
	<security>
		<decoupledContentSecurityPolicy name="Content-Security-Policy">
			<directives>
				<add name="script-src">
					<values>
						<add value="https://code.jquery.com/jquery-3.7.0.min.js" />
						<add value="https://unpkg.com/jszip/dist/jszip.min.js" />
						<add value="https://kendo.cdn.telerik.com/2023.3.1114/js/kendo.all.min.js" />
						<add value="'unsafe-inline'" />
					</values>
				</add>
				<add name="style-src">
					<values>
						<add value="https://kendo.cdn.telerik.com/themes/7.0.2/default/default-main.css" />
					</values>
				</add>
			</directives>
		</decoupledContentSecurityPolicy>
	</security>
</aspNetCoreRendererConfig>